In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lagoa,PT,2021-05-21 14:21:41,39.0500,-27.9833,59.18,59,100,10.71
1,1,Buraydah,SA,2021-05-21 14:21:42,26.3260,43.9750,109.85,5,24,16.04
2,2,Kapaa,US,2021-05-21 14:21:42,22.0752,-159.3190,73.72,74,90,3.00
3,3,Freistadt,AT,2021-05-21 14:21:43,48.5110,14.5045,64.81,54,100,8.10
4,4,Sao Filipe,CV,2021-05-21 14:21:43,14.8961,-24.4956,75.67,70,29,6.11

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of windiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature desired for your trip? "))
max_temp = float(input("What is the maximum temperature desired for your trip? "))

What is the minimum temperature desired for your trip? 75
What is the maximum temperature desired for your trip? 80

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Sao Filipe,CV,2021-05-21 14:21:43,14.8961,-24.4956,75.67,70,29,6.11
5,5,Ponta Do Sol,PT,2021-05-21 14:21:43,32.6667,-17.1000,79.12,48,7,5.73
7,7,Lazaro Cardenas,MX,2021-05-21 14:21:44,17.9583,-102.2000,76.89,59,0,3.24
11,11,Georgetown,MY,2021-05-21 14:20:33,5.4112,100.3354,79.95,85,20,3.44
13,13,Vaini,TO,2021-05-21 14:21:46,-21.2000,-175.2000,78.96,89,75,18.41
14,14,Puerto Ayora,EC,2021-05-21 14:21:46,-0.7393,-90.3518,78.76,89,22,8.01
22,22,Butaritari,KI,2021-05-21 14:21:49,3.0707,172.7902,79.27,90,100,16.69
24,24,Mocuba,MZ,2021-05-21 14:21:49,-16.8392,36.9856,79.21,56,1,3.00
26,26,Avera,US,2021-05-21 14:21:50,33.1940,-82.5271,76.95,52,60,8.16
51,51,Houma,US,2021-05-21 14:20:28,29.5958,-90.7195,75.99,97,75,13.80

In [12]:
preferred_cities_df.count()

City_ID       77
City          77
Country       77
Date          77
Lat           77
Lng           77
Max Temp      77
Humidity      77
Cloudiness    77
Wind Speed    77
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
4        Sao Filipe      CV     75.67  14.8961  -24.4956
5      Ponta Do Sol      PT     79.12  32.6667  -17.1000
7   Lazaro Cardenas      MX     76.89  17.9583 -102.2000
11       Georgetown      MY     79.95   5.4112  100.3354
13            Vaini      TO     78.96 -21.2000 -175.2000
14     Puerto Ayora      EC     78.76  -0.7393  -90.3518
22       Butaritari      KI     79.27   3.0707  172.7902
24           Mocuba      MZ     79.21 -16.8392   36.9856
26            Avera      US     76.95  33.1940  -82.5271
51            Houma      US     75.99  29.5958  -90.7195

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Sao Filipe,CV,75.67,14.8961,-24.4956,Hotel Xaguate
5,Ponta Do Sol,PT,79.12,32.6667,-17.1000,Hotel do Campo
7,Lazaro Cardenas,MX,76.89,17.9583,-102.2000,Hotel Quinta Antigua
11,Georgetown,MY,79.95,5.4112,100.3354,Cititel Penang
13,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
14,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
22,Butaritari,KI,79.27,3.0707,172.7902,Isles Sunset Lodge
24,Mocuba,MZ,79.21,-16.8392,36.9856,Phama Lodge
26,Avera,US,76.95,33.1940,-82.5271,
51,Houma,US,75.99,29.5958,-90.7195,Courtyard by Marriott Houma

In [21]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [24]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))